*:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #26303c;
  overflow-x: hidden;
}

.Navigation {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  background-color: #222b36;
}

.Navigation input {
  background-color: #222b36;
  font-size: 25px;
  padding: 10px;
  color: white;
  border: none;
}

.Movies {
  padding: 40px;
  color: white;
}
